.addProduct form {

    width: 450px;
    padding: 30px;
    margin: auto;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.addProduct {
    /* background-image: url(C:\Users\Hp\Pictures\Users\download.jpeg); */

    background: linear-gradient(to right, rgb(250, 250, 122), white)
}

.addProduct .header {
    text-align: center;
    background-color: aqua;
    padding: 25px;

    font-weight: bold;
    font-size: 26px;

}

.addProduct .headerTitle {
    text-align: center;
    /* background-color: aqua; */
    padding: 25px;
    display: none;

}